# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
src/app/app.component.js
src/app/app.component.js.map
src/app/app.module.js
src/app/app.module.js.map
src/app/data.js
src/app/filter-list.pipe.js
src/app/filter-list.pipe.js.map
src/app/filter-list.pipe.spec.ts
src/app/filter-list.pipe.ts
src/environments/environment.js
src/environments/environment.js.map
src/main.js
src/main.js.map
