<div class="wrapper">
    <div class="search-wrapper">
        <input [(ngModel)]="searchText" placeholder="Search(Client Name / Policy Number)">
    </div>
    <ul>
        <li *ngFor="let item of list | filterList: searchText ">
            <div class="name">{{ item.name }}</div>
            <div class="left">
                <span class="number">{{ item.phone }}</span>
                <span class="email">@ {{ item.email }}</span>
            </div>
            <div class="right">
                <span class="policy">Policy No. {{ item.policy }}</span>
            </div>
        </li>
    </ul>
</div>
